/*----------- GENERAL STYLING -------------- */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', 'sans-serif';
}
body{
    padding: 0 2vw 0 3vw;
}
:root{
    --custom-blue: #0065FC;
}
/*-----------  NAV ----------- */
nav{
    height: 20vh;
}
nav .logo-mobile{
    display: none;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    display: block;
}
nav a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 1rem;
}
nav ul li button{
    height: 18vh;
    text-align: bottom;
    background-color: transparent;
    border: 2px solid transparent;
    width: 10vw;
}
nav ul li button:hover{
    border-top: 2px solid var(--custom-blue);
}
nav ul li button:hover > * {
    color: var(--custom-blue);
}
nav .logo{
    width: 85%;
}
/*----------- SECTION 1 ---------- */
h1{
    line-height: 150%;
    margin: 0 0 3vh 0;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    letter-spacing: .030vw;  
}
.section-one h5{
    font-weight: normal;
    font-size: 1rem;
    font-weight: 400;
}
.section-one .searchbar{
    margin: 4vh 0 0 0;
    display: flex;
}
.section-one .searchbar .icon-map{
    padding: 1%;
    height: 50px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}
.section-one .searchbar input{
    height: 50px;
    border: 1px solid #F2F2F2;
    margin: 0;
}
.section-one .searchbar input[value]{
    padding-left: 1%;
    font-weight: 700;
}
.section-one .searchbar button{
    color: white;
    background: var(--custom-blue);
    border: 1px solid var(--custom-blue);
    padding: 15px 16px;
    width: 132px;
    height: 50px;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 0px 15px 15px 0px;
}
.section-one .filters{
    display: flex;
    margin: 7vh 0 0 1vw;
}
.section-one .filters button:hover{
    background-color: #DEEBFF;
}
.section-one .filters button{
    display: flex;
    padding: 8px 25px;
    margin: 0 1.5vw;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background-color: transparent;
    display: block;
    font-weight: 700;
    font-size: 1rem;
}
.section-one .filters h5{
    font-weight: bold;
    font-size: 1rem;
    line-height: 300%;
}
.section-one .infos{
    display: flex;
    align-items: center;
    margin: 8vh 0 0 0;
}
.section-one .infos img{
    /* border: 1px solid black; */
    border: 1px solid #D9D9D9;
    border-radius: 80%;
    padding: 5px 10px;
    margin: 0 1% 0 0;
}
/*----------- SECTION 2 ---------- */
.section-two{
    display: flex;
    justify-content: space-between;
    margin: 8vh 0 0 0;
}

.section-two article{
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: rgba(154, 151, 151, 0.35) 0px 5px 15px;
}
.section-two .main-block, .side-block{
    padding: 4vh 2vw 0 2vw;
    margin: 0 3vw 0 0;
    background-color: #F2F2F2;
    border-radius: 20px;
}
/* --- MAIN BLOCK --- */
.section-two .main-block .rows{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.section-two .main-block article{
    margin: 1vw;
}
.section-two .main-block .row-one{
    margin: 1vh 0 0 0;
}
.section-two .main-block .rows article .details{
    padding: 0 0 1vh 1vw;
    line-height: 170%;
    /* border: 1px solid black; */
}
.section-two .main-block .show-more{
    margin: 3vh;
}
/*-- SIDE BLOCK -- */
.side-block .subtitle, .side-block article{
    display: flex;
}
.section-two .side-block{
    position: relative;
}
.section-two .side-block .stars{
    position: absolute;
    bottom: 10px;
}
.section-two .side-block article:not(.first){
    margin: 4vh 0;
}
.side-block article .details{
    padding: 3vh 0vw 0 1vw;
    line-height: 130%;
}
.section-two .side-block .subtitle{
    justify-content: space-between;
    margin: 0 0 3vh 0;
}
.side-block .subtitle img{
    width: 5%;
    height: 3%;
    max-width: 80%;
}
/*----------- SECTION 3 ---------- */
.section-three{
    margin: 8vh 0;
}
.section-three .row{
    display: flex;
    justify-content: space-between;
    /* width: 92vw; */
    padding: 0 3vw 0 0;
    /* border: 1px solid black; */
}
.section-three h2{
    margin: 0 0 4vh 1vw;
}
.section-three .row article{
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: rgba(174, 172, 172, 0.35) 0px 3px 10px;
    width: 22%;
    height: 58vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.section-three .row  .art-1{
    background-image: url('../images/marseille/one.png');
}
.section-three .row  .art-2{
    background-image: url('../images/marseille/two.png');
}
.section-three .row  .art-3{
    background-image: url('../images/marseille/three.png');
}
.section-three .row  .art-4{
    background-image: url('../images/marseille/four.png');
}
.section-three .row article h4{
    border-radius: 0 0 20px 20px;
    background-color: #FFFFFF;
    padding: 6% 6% 6% 7%;
    font-size: 18px;
}
/*--------------FOOTER ------------ */
footer{
    background-color: #F2F2F2;
    width: 92vw;
    padding: 6vh;
}
footer .col-wrapper{
    display: flex;
    align-items:center;
    justify-content:space-evenly;
}
footer .cols h4{
    margin: 0 0 3vh 0;
}
footer .cols a{
    display: block;
    color: black;
    text-decoration: none;
    line-height: 170%;
}
/* RESPONSIVE * RESPONSIVE *RESPONSIVE *RESPONSIVE *RESPONSIVE *RESPONSIVE  */
/* TABLETS */

@media(max-width: 1310px){
    .section-two{
        flex-direction: column;
        margin:0;
    }
    .section-two .main-block{
        margin: 6vh 5vh 8vh 0;
        padding: 6vh 2vw 0 2vw;
    }
    .section-two .main-block .rows{
        margin: 4vh 0;
    }
    .section-two .main-block article{
        margin: 1vw;
        width: 30%;
    }
    .section-two .main-block article .picture-hotel{
        width: 100%;
    }
    .section-two .side-block .articles{
        display: flex;
        justify-content: space-evenly; 
        padding: 0 0 4vh 0;
    }
    .section-two .side-block article{
        width: 30%;
        height: auto;
    }
    .side-block article .details{
        padding: 3vh 1vw 0 1vw;
    }
    .section-two .side-block article:not(.first){
        margin: 0;
    }
    .section-two .side-block .subtitle img{
        width: auto;
    }
    .section-three .row article{
        width: 20%;
        height: 27vw;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .section-three .row article h4{
    padding: 12% 6% 12% 10%;
    margin: 0 auto;
    font-size: 16px;
    height: 10vh;
    width: 100%;
    }
}
@media(max-width: 950px){
    nav ul li button{
        height: 18vh;
        text-align: bottom;
        background-color: transparent;
        border: 2px solid transparent;
        width: 20vw;
    }
    .section-one .filters button{
        font-size: .8rem;
    }
    .section-two .main-block{
        margin: 0vh 5vh 8vh 0;
        padding: 6vh 2vw 0 2vw;
    }
    .section-two .main-block{
        margin: 8vh 2vh 8vh 0;
    }
    .section-two .side-block {
        padding: 6vh 3vw;
    }
    .section-two .side-block .articles{
        padding: 0;
    }
    .section-two .side-block article{
        width: 30%;
        height: fit-content;
        height: 18vh;
        /* max-height: 100%; */
        margin: 0 1vh;
    }
    .section-two h4{
        font-size: 14px;
        line-height: normal;
        margin: 0 0 .7vh 0;
    }
    .section-two p{
            line-height: normal;
            font-size: 13px;
    }
    .section-two .main-block .stars img{
        width: 6%;
    }
    .section-two .side-block article img:not(.stars img){
        height: auto;
        width: 40%;
    }
    .section-two .stars img{
        width: 12%;
    }
    .section-three .row article{
        height: 27vw;
    }
    .section-three .row article h4{
        padding: 7% 6% 12% 10%;
        font-size: 15px;
        height: 8vh;
    }
}
@media(max-width: 768px){
    nav ul .logo{
        display: none;
    }
    nav .logo-mobile{
        display: block;
        margin:3vh auto;
    }
    nav ul li{
        text-align: center;
    }
    nav ul li button{
        height: 7vh;
        border-top: 0;
        width: 50vw;
    }
    nav ul li button:hover{
        border-bottom: 2px solid var(--custom-blue);
        border-top: 0;
    }
    .section-one .searchbar .icon-map{
        padding: 1%;
        height: 50px;
        background: #F2F2F2;
        border: 1px solid #F2F2F2;
        border-radius: 15px 0px 0px 15px;
    }
    .section-one .searchbar input{
        width: 60vw;
    }
    .section-one .filters{
        flex-wrap: wrap;
    }
    .section-one .filters h5{
        display: block;
        width: 100vw;
    }
    .section-one .filters button{
        font-size: .9rem;
        width: 40vw;
        height: auto;
        padding: 1.5vh;
        margin: 2vh 2vh 2vh 0vh;
    }
    .section-two{
        flex-direction: column-reverse;
    }
    .section-two .side-block{
        margin: 6vh 2vw 0 0;
    }
    .section-two .side-block .articles{
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }
    .section-two .side-block article{
        width: 95%;
        margin: 2vh 0;
    }
    .section-two .side-block article:not(.first){
        margin: 2vh 0;
    }
    .side-block article .details{
        padding: 2vh .7vw 0 1vw;
    }
    .section-three .row article h4{
        padding: 6% 6% 12% 10%;
        height: 6.7vh;
    }
    .section-three .row article{
        height: 27vw;
    }
}